//
.my_container {
    display: flex;
    flex-wrap: wrap;
}

.comics {
    width: 25%;
    text-align: center;
    margin: 50px 0;
    img {
        width: 80%;
    }
    h3 {
        font-size: 22px;
    }
}
